@page
@model Reflections.Nexus.WebUI.Pages.EmploymentType.EditModel

        @{
        ViewData["Title"] = "Edit";
        ViewData["Entity"] = "EmploymentTypes";
        ViewData["BreadCrumb"] = "<a href='/EmploymentTypes' class='breadcrumb-item'>EmploymentTypes</a>";
                Layout = "~/Pages/Shared/_Layout.cshtml";
        }
        

 <form method="post">
    <div class="card">
        <div class="card-header">
             <h5 class="card-title mb-0">Edit EmploymentType</h5>
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                        <input type="hidden" asp-for="EmploymentType.Id" />
                        @* <input type="hidden" asp-for="EmploymentType.Created" /> *@
                        @* <input type="hidden" asp-for="EmploymentType.CreatedBy"  /> *@
                        @* <input type="hidden" asp-for="EmploymentType.Updated" /> *@
                        @* <input type="hidden" asp-for="EmploymentType.UpdatedBy" /> *@
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label asp-for="EmploymentType.Value" class="control-label"></label>
                                    <input asp-for="EmploymentType.Value" class="form-control" />
                                    <span asp-validation-for="EmploymentType.Value" class="text-danger"></span>
                                </div>
                            </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center bg-light border-top-0">
            <a asp-page="Index" class="btn btn-primary btn-labeled btn-labeled-start">
                Cancel
                <span class="btn-labeled-icon bg-black bg-opacity-20">
                    <i class="icon-arrow-left8"></i>
                </span>
            </a>
            <button type="submit" class="btn btn-primary btn-labeled btn-labeled-end">
                Save
                <span class="btn-labeled-icon bg-black bg-opacity-20">
                    <i class="icon-paperplane"></i>
                </span>
            </button>
        </div>
    </div>
</form>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }

