@page
@model Reflections.Nexus.WebUI.Pages.JobTitle.EditModel

        @{
        ViewData["Title"] = "Edit";
        ViewData["Entity"] = "JobTitles";
        ViewData["BreadCrumb"] = "<a href='/JobTitles' class='breadcrumb-item'>JobTitles</a>";
        }
        

 <form method="post">
    <div class="card">
        <div class="card-header">
             <h5 class="card-title mb-0">Edit JobTitle</h5>
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                        <input type="hidden" asp-for="JobTitle.Id" />
                        @* <input type="hidden" asp-for="JobTitle.Created" /> *@
                        @* <input type="hidden" asp-for="JobTitle.CreatedBy"  /> *@
                        @* <input type="hidden" asp-for="JobTitle.Updated" /> *@
                        @* <input type="hidden" asp-for="JobTitle.UpdatedBy" /> *@
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label asp-for="JobTitle.Name" class="control-label"></label>
                                    <input asp-for="JobTitle.Name" class="form-control" />
                                    <span asp-validation-for="JobTitle.Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label asp-for="JobTitle.DepartmentId" class="control-label"></label>
                                    <select asp-for="JobTitle.DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                                    <span asp-validation-for="JobTitle.DepartmentId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mt-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="JobTitle.IsActive" /> @Html.DisplayNameFor(model => model.JobTitle.IsActive)
                                    </label>
                                </div>
                            </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center bg-light border-top-0">
            <a asp-page="Index" class="btn btn-primary btn-labeled btn-labeled-start">
                Cancel
                <span class="btn-labeled-icon bg-black bg-opacity-20">
                    <i class="icon-arrow-left8"></i>
                </span>
            </a>
            <button type="submit" class="btn btn-primary btn-labeled btn-labeled-end">
                Save
                <span class="btn-labeled-icon bg-black bg-opacity-20">
                    <i class="icon-paperplane"></i>
                </span>
            </button>
        </div>
    </div>
</form>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }

