@page
@model Reflections.Nexus.WebUI.Pages.Company.CreateModel

@{
    ViewData["Title"] = "Create";
    ViewData["Entity"] = "Companies";
    ViewData["BreadCrumb"] = "<a href='/Companies' class='breadcrumb-item'>Companies</a>";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<form method="post" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Create New Company</h5>
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                @* <div class="col-lg-6"> *@
                @*     <div class="form-group"> *@
                @*         <label asp-for="Company.Id" class="control-label"></label> *@
                @*         <input asp-for="Company.Id" class="form-control" /> *@
                @*         <span asp-validation-for="Company.Id" class="text-danger"></span> *@
                @*     </div> *@
                @* </div> *@
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Company.Name" class="control-label"></label>
                        <input asp-for="Company.Name" class="form-control" />
                        <span asp-validation-for="Company.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Company.EstablishDate" class="control-label"></label>
                        <input asp-for="Company.EstablishDate" class="form-control" type="date" />
                        <span asp-validation-for="Company.EstablishDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Company.CityId" class="control-label"></label>
                        <select asp-for="Company.CityId" class="form-control" asp-items="ViewBag.CityId"></select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Company.IndustryId" class="control-label"></label>
                        <select asp-for="Company.IndustryId" class="form-control" asp-items="ViewBag.IndustryId"></select>
                    </div>
                </div>
                @* <div class="col-lg-6"> *@
                @*     <div class="form-group mt-3"> *@
                @*         <label class="form-check-label"> *@
                @*             <input class="form-check-input" asp-for="Company.IsActive" /> @Html.DisplayNameFor(model => model.Company.IsActive) *@
                @*         </label> *@
                @*     </div> *@
                @* </div> *@
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Company.Town" class="control-label"></label>
                        <input asp-for="Company.Town" class="form-control" />
                        <span asp-validation-for="Company.Town" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Company.CompanyTypeId" class="control-label"></label>
                        <select asp-for="Company.CompanyTypeId" class="form-control" asp-items="ViewBag.CompanyTypeId"></select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Company.Address" class="control-label"></label>
                        <input asp-for="Company.Address" class="form-control" />
                        <span asp-validation-for="Company.Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Company.Email" class="control-label"></label>
                        <input asp-for="Company.Email" class="form-control" />
                        <span asp-validation-for="Company.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Company.ZipCode" class="control-label"></label>
                        <input asp-for="Company.ZipCode" class="form-control" />
                        <span asp-validation-for="Company.ZipCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Company.Website" class="control-label"></label>
                        <input asp-for="Company.Website" class="form-control" />
                        <span asp-validation-for="Company.Website" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Company.CommercialRegistrationNumber" class="control-label"></label>
                        <input asp-for="Company.CommercialRegistrationNumber" class="form-control" />
                        <span asp-validation-for="Company.CommercialRegistrationNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Company.TaxRegistrationNumber" class="control-label"></label>
                        <input asp-for="Company.TaxRegistrationNumber" class="form-control" />
                        <span asp-validation-for="Company.TaxRegistrationNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Company.ParentId" class="control-label"></label>
                        <select asp-for="Company.ParentId" class="form-control" asp-items="ViewBag.ParentId"></select>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="companyLogo" class="control-label"></label>
                        <input asp-for="companyLogo" type="file" class="form-control file-input" required data-show-upload="false" />
                        <span asp-validation-for="companyLogo" class="text-danger"></span>
                    </div>
                </div>
                @* <div class="col-lg-6"> *@
                @*     <div class="form-group"> *@
                @*         <label asp-for="Company.Created" class="control-label"></label> *@
                @*         <input asp-for="Company.Created" class="form-control" /> *@
                @*         <span asp-validation-for="Company.Created" class="text-danger"></span> *@
                @*     </div> *@
                @* </div> *@
                @* <div class="col-lg-6"> *@
                @*     <div class="form-group"> *@
                @*         <label asp-for="Company.CreatedBy" class="control-label"></label> *@
                @*         <input asp-for="Company.CreatedBy" class="form-control" /> *@
                @*         <span asp-validation-for="Company.CreatedBy" class="text-danger"></span> *@
                @*     </div> *@
                @* </div> *@
                @* <div class="col-lg-6"> *@
                @*     <div class="form-group"> *@
                @*         <label asp-for="Company.Updated" class="control-label"></label> *@
                @*         <input asp-for="Company.Updated" class="form-control" /> *@
                @*         <span asp-validation-for="Company.Updated" class="text-danger"></span> *@
                @*     </div> *@
                @* </div> *@
                @* <div class="col-lg-6"> *@
                @*     <div class="form-group"> *@
                @*         <label asp-for="Company.UpdatedBy" class="control-label"></label> *@
                @*         <input asp-for="Company.UpdatedBy" class="form-control" /> *@
                @*         <span asp-validation-for="Company.UpdatedBy" class="text-danger"></span> *@
                @*     </div> *@
                @* </div> *@
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center bg-light border-top-0">
            <a asp-page="Index" class="btn btn-primary btn-labeled btn-labeled-start">
                Cancel
                <span class="btn-labeled-icon bg-black bg-opacity-20">
                    <i class="icon-arrow-left8"></i>
                </span>
            </a>
            <button type="submit" class="btn btn-primary btn-labeled btn-labeled-end">
                Create
                <span class="btn-labeled-icon bg-black bg-opacity-20">
                    <i class="icon-paperplane"></i>
                </span>
            </button>
        </div>

    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
