@page
@model Reflections.Nexus.WebUI.Pages.EmployeeTelephoneNumber.EditModel

@{
    ViewData["Title"] = "Edit";
    ViewData["Entity"] = "EmployeeTelephoneNumber";
    ViewData["BreadCrumb"] = "<a href='/EmployeeTelephoneNumber' class='breadcrumb-item'>EmployeeTelephoneNumber</a>";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<form method="post">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Edit EmployeeTelephoneNumber</h5>
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <input type="hidden" asp-for="EmployeeTelephoneNumber.Id" />
                <input type="hidden" asp-for="EmployeeTelephoneNumber.Created" />
                <input type="hidden" asp-for="EmployeeTelephoneNumber.CreatedBy" />
                <input type="hidden" asp-for="EmployeeTelephoneNumber.Updated" />
                <input type="hidden" asp-for="EmployeeTelephoneNumber.UpdatedBy" />
                <input type="hidden" asp-for="EmployeeTelephoneNumber.RowVersion" />
                <div class="col-lg-6">
                    <div class="form-group mt-3">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="EmployeeTelephoneNumber.IsPrimary" /> @Html.DisplayNameFor(model => model.EmployeeTelephoneNumber.IsPrimary)
                        </label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="EmployeeTelephoneNumber.Number" class="control-label"></label>
                        <input asp-for="EmployeeTelephoneNumber.Number" class="form-control" />
                        <span asp-validation-for="EmployeeTelephoneNumber.Number" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="EmployeeTelephoneNumber.EmployeeId" class="control-label"></label>
                        <select asp-for="EmployeeTelephoneNumber.EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                        <span asp-validation-for="EmployeeTelephoneNumber.EmployeeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="EmployeeTelephoneNumber.TypeId" class="control-label"></label>
                        <select asp-for="EmployeeTelephoneNumber.TypeId" class="form-control" asp-items="ViewBag.TypeId"></select>
                        <span asp-validation-for="EmployeeTelephoneNumber.TypeId" class="text-danger"></span>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center bg-light border-top-0">
            <a asp-page="Index" class="btn btn-primary btn-labeled btn-labeled-start">
                Cancel
                <span class="btn-labeled-icon bg-black bg-opacity-20">
                    <i class="icon-arrow-left8"></i>
                </span>
            </a>
            <button type="submit" class="btn btn-primary btn-labeled btn-labeled-end">
                Save
                <span class="btn-labeled-icon bg-black bg-opacity-20">
                    <i class="icon-paperplane"></i>
                </span>
            </button>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

