@page
@model Reflections.Nexus.WebUI.Pages.CompanyFile.CreateModel

@{
    ViewData["Title"] = "Create";
    ViewData["Entity"] = "CompanyFiles";
    ViewData["BreadCrumb"] = "<a href='/CompanyFiles' class='breadcrumb-item'>CompanyFiles</a>";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<form method="post" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Create New CompanyFile</h5>
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label asp-for="CompanyFile.FileTypeId" class="control-label"></label>
                            <select asp-for="CompanyFile.FileTypeId" class="form-control" asp-items="ViewBag.FileTypeId"></select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label asp-for="company_file" class="control-label"></label>
                            <input asp-for="company_file" type="file" class="form-control file-input" required data-show-upload="false" />
                            <span asp-validation-for="company_file" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label asp-for="CompanyFile.CompanyId" class="control-label"></label>
                            <select asp-for="CompanyFile.CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center bg-light border-top-0">
                <a asp-page="Index" class="btn btn-primary btn-labeled btn-labeled-start">
                    Cancel
                    <span class="btn-labeled-icon bg-black bg-opacity-20">
                        <i class="icon-arrow-left8"></i>
                    </span>
                </a>
                <button type="submit" class="btn btn-primary btn-labeled btn-labeled-end">
                    Create
                    <span class="btn-labeled-icon bg-black bg-opacity-20">
                        <i class="icon-paperplane"></i>
                    </span>
                </button>
            </div>

        </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
