@page
@model Reflections.Nexus.WebUI.Pages.CompanyfileType.DeleteModel

@{
    ViewData["Title"] = "Delete";
    ViewData["Entity"] = "CompanyFileTypes";
    ViewData["BreadCrumb"] = "<a href='/CompanyFileTypes' class='breadcrumb-item'>CompanyFileTypes</a>";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Are you sure you want to delete this?</h5>
    </div>
    <div class="card-body">
        <div class="row">
             <div class="col-lg-12">
                <fieldset>
                    <div class="form-group row col-form-label">
                        <label class="col-lg-2  fw-bold">
                            @Html.DisplayNameFor(model => model.CompanyFileType.Id)
                        </label>
                        <div class="col-lg-10">
                            @Html.DisplayFor(model => model.CompanyFileType.Id)
                        </div>
                    </div>
                </fieldset>
             </div>
                   <div class="col-lg-6">
                        <fieldset>
                            <div class="form-group row col-form-label">
                                <label class="col-lg-4  fw-bold">
                                    @Html.DisplayNameFor(model => model.CompanyFileType.Value)
                                </label>
                                <div class="col-lg-8">
                                    @Html.DisplayFor(model => model.CompanyFileType.Value)
                                </div>
                             </div>
                        </fieldset>
                    </div>
        </div>
    </div>
    
     <form method="post">
    <div class="card-footer d-flex justify-content-between align-items-center bg-light border-top-0">
                    <input type="hidden" asp-for="CompanyFileType.Id" />
            <a asp-page="./Index" class="btn btn-primary btn-labeled btn-labeled-start">
                Cancel
                <span class="btn-labeled-icon bg-black bg-opacity-20">
                    <i class="icon-arrow-left8"></i>
                </span>
            </a>
            <button type="submit" class="btn btn-danger btn-labeled btn-labeled-end">
                Delete
                <span class="btn-labeled-icon bg-black bg-opacity-20">
                    <i class="icon-bin"></i>
                </span>
            </button>
    </div>
    </form>
</div>
