@page
@model Reflections.Nexus.WebUI.Pages.SocialLink.CreateModel

@{
    ViewData["Title"] = "Create";
    ViewData["Entity"] = "SocialLinks";
    ViewData["BreadCrumb"] = "<a href='/SocialLinks' class='breadcrumb-item'>SocialLinks</a>";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
        <form method="post">
             <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Create New SocialLink</h5>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                                @* <div class="col-lg-6"> *@
                                @*     <div class="form-group"> *@
                                @*         <label asp-for="SocialLink.Id" class="control-label"></label> *@
                                @*         <input asp-for="SocialLink.Id" class="form-control" /> *@
                                @*         <span asp-validation-for="SocialLink.Id" class="text-danger"></span> *@
                                @*     </div> *@
                                @* </div> *@
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="SocialLink.CompanyId" class="control-label"></label>
                                        <select asp-for="SocialLink.CompanyId" class ="form-control" asp-items="ViewBag.CompanyId"></select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="SocialLink.SocialTypeId" class="control-label"></label>
                                        <select asp-for="SocialLink.SocialTypeId" class ="form-control" asp-items="ViewBag.SocialTypeId"></select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="SocialLink.Url" class="control-label"></label>
                                        <input asp-for="SocialLink.Url" class="form-control" />
                                        <span asp-validation-for="SocialLink.Url" class="text-danger"></span>
                                    </div>
                                </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center bg-light border-top-0">
                    <a asp-page="Index" class="btn btn-primary btn-labeled btn-labeled-start">
                        Cancel
                        <span class="btn-labeled-icon bg-black bg-opacity-20">
                            <i class="icon-arrow-left8"></i>
                        </span>
                    </a>
                    <button type="submit" class="btn btn-primary btn-labeled btn-labeled-end">
                        Create
                        <span class="btn-labeled-icon bg-black bg-opacity-20">
                            <i class="icon-paperplane"></i>
                        </span>
                    </button>
                </div>

             </div>
        </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
